<%= render 'shared/page_title', title: "#{@chef.chefname}'s Profile" %>

<div class="container bg-faded">
  <div class="text-center">
    <div class="">
      <%= gravatar_for @chef, size: 150 %>
    </div>
  </div>
</div>

<h4 align="center"><%= @chef.chefname %>'s Recipes</h4>
<%= render 'recipes/recipe', obj: @chef.recipes %>