<h1 align="center">Listing of all Recipes</h1>
<hr>

<% @recipes.each do |recipe| %>
<div class="row">
  <div class="col-md-2">
    <section class="center">
      
    </section>
  </div>
  <div class="col-md-8 card card-body bg-light">
    <h4><%= recipe.name %></h4>
    <h6><%= truncate(recipe.directions, length: 150) %></h6>
    <p>
      <span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</span></small>
    </p>
    
  </div>
</div>
  
<% end %>

