
<%= render 'shared/page_title', title: "All Recipes" %>


      <div class="pagination justify-content-center">
        <%= will_paginate %>
      </div>
      




<%= render 'recipe', obj: @recipes %>

<div class="pagination justify-content-center">
  <%= will_paginate %>
</div>

