<% if obj.errors.any? %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card bg-danger">
        <div class="card-heading">
          <h2 class="card-title">
            <%= pluralize(obj.errors.count, 'error') %>
            prohibited this <%= obj.class %> from being created
          </h2>
          <div class="card-body">
            <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
