

@import "bootstrap";

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #999;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  // background-image: url('veggies2.jpg');
  
  // border: 15px solid black;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "this is content";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.img-responsive {
  height: 100%;
  width: 100%;
}
.img-1 {
  border: 10px solid black;
}
.img-1-phone {
 
  border: 7px solid black;
  border-top: 30px solid black;
  
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

#logo {
  margin-top: 3px;
  font-size: 1.3em;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
.directions {
  margin-top: 0px;
}
// .card a {
//   color: ;
// }
.site-header {
  background-color: #007BFF;
}

// .br-text {
//   color: #D79922;
// }
// .lt-text {
//   color: #F13C20;
// }

// #4056A1

// F13C20

.rounded-circle {
  border-radius: 50%;
}
// .chef_info {
//   border-radius: 50%;
// }
.gravatar {
  border-radius: 50%;
}
.btn-lg:hover {
  background-color: #8860D0;
}
.card .bg-danger {
  background-color: #D83F87!important;
}
.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  // padding-left: 0;
}
.chef-title {
  color: #007BFF;
  font-weight: 550;
  font-size: 1.25em;
}
.pagination {
  padding-top: 5px;
}
.dropdown-item-text {
  background-color: #007BFF;
}
.comments-container {
  margin-left: 325px;
}